@import './variables';

body {
  font-family: Consolas, sans-serif;
  position: relative;
}

#ui {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

#menu {
  width: 100vw;
  height: $navbar-height;
  display: flex;
  flex-direction: row;
  background-blend-mode: overlay, normal;
  backdrop-filter: blur(20px);
  pointer-events: all;

  .item {
    background: transparent;
    border: 1px solid hsla(181deg 79% 54% / 75%);
    color: white;
    min-width: 10%;
    height: calc($navbar-height - 2 * $control-padding);
    margin: $control-padding;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0.1rem hsl(0deg 0% 100% / 59.3%),
      0 0 0.7rem hsl(181deg 79% 54% / 50%), 0 0 0.3rem hsl(181deg 79% 54%);
    transition: all 0.2s;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 0.1rem hsl(0deg 0% 100%), 0 0 0.6rem hsl(181deg 79% 54%),
        0 0 0.4rem hsl(181deg 79% 54%);
    }
  }

  &:active {
    box-shadow: 0 0 0.1rem hsl(0deg 0% 100%);
  }
}

#controls {
  width: $toolbar-width;
  height: calc(100vh - $navbar-height);
  pointer-events: all;

  .option {
    background-color: transparent;
    border: 1px solid hsl(325deg 79% 53%);
    box-shadow: 0 0 0.1rem hsl(0deg 0% 100% / 59.3%),
      0 0 0.4rem hsl(325deg 79% 53% / 50%), 0 0 0.2rem hsl(325deg 79% 53% / 90%);
    color: white;
    transition: all 0.2s;
    width: calc($toolbar-width - 2 * $control-padding);
    margin: $control-padding;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 0.1rem hsl(0deg 0% 100%), 0 0 0.6rem hsl(325deg 79% 53%),
        0 0 0.4rem hsl(325deg 79% 53%);
    }

    &:active {
      box-shadow: 0 0 0.1rem hsl(0deg 0% 100%);
    }
  }
}
