@import './variables';

body {
  font-family: 'Roboto Mono', monospace;
}

hr {
  width: calc($toolbar-width - 2 * $control-padding);
  justify-self: center;
  border: 1px solid transparent;
  background: $orange;
  box-shadow: 0 0 0.05rem $orange, 0 0 0.01rem $white, 0 0 0.15rem $orange;
  margin: 0.5rem 0;
}

#ui {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

#menu {
  display: grid;
  grid-template-columns: repeat(2, 30%);
  height: $navbar-height;
  pointer-events: all;

  .main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .item {
      @include neon-group($pink);

      display: flex;
      height: calc($navbar-height - 2 * $control-padding);
      padding: 0.5rem;
      margin: $control-padding;
      font-size: 0.9rem;

      i {
        font-size: 0.9rem;
      }
    }
  }
}

#controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $control-padding;
  width: $toolbar-width;
  height: calc(100vh - $navbar-height);
  pointer-events: all;

  .toggles,
  .tools {
    @include neon-group($orange);
    flex-direction: column;

    .option {
      @include neon-item($orange);

      width: calc($toolbar-width - 2 * $control-padding);
      margin: $control-padding;
      aspect-ratio: 1;
    }
  }
}

#controls .option.active,
#menu .item.active {
  @include neon-item($orange);
  $transparent: transparentize($orange, 0.85);
  text-shadow: 0 0 0.3rem $transparent, 0 0 0.2rem $orange;

  &.tooltip:hover::before {
    color: $orange;
    text-shadow: 0 0 3px $orange;
  }
}

/* Tooltips */
.tooltip {
  position: relative;
  text-align: center;
  display: inline-block;

  &:hover::before {
    animation: fade 1.5s;
    content: attr(data-tooltip);
    position: absolute;
    left: 125%;
    white-space: nowrap;
    color: $pink;
    text-shadow: 0 0 3px $pink;
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
}

@keyframes fade {
  // Workaround for transition interacting poorly with animation delay
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
