@use 'sass:color';
@import './variables';

body {
  font-family: 'Roboto Mono', monospace;
  background: $bg;
  overflow-y: hidden;
}

button {
  display: flex;
  align-items: center;
  background: none;
  border: 1px solid transparent;

  &:hover,
  &:active {
    cursor: pointer;
  }
}

hr {
  width: calc($toolbar-width - 2 * $control-padding);
  justify-self: center;
  border: 1px solid transparent;
  background: $blue;
  box-shadow: 0 0 0.01rem $white, 0 0 0.05rem $blue, 0 0 0.15rem $blue;
  margin: 0.5rem 0;
}

#mobile-warning {
  /* The page for telling mobile users to fuck off */
  display: none;

  h1 {
    background: linear-gradient($blue, $pink);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

#ui {
  // Page Wrapper
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  pointer-events: none;
}

#menu {
  // Top Navbar
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 3rem;
  pointer-events: all;
  align-items: center;
  justify-items: start;
  justify-content: space-between;

  .left {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .item {
      display: flex;
      height: calc($navbar-height - 2 * $control-padding);
      padding: 0.5rem;
      margin: $control-padding;
      font-size: 0.9rem;
      @include neon-group($pink);
      @include neon-hover($pink);
    }
  }

  .right {
    display: flex;
    justify-self: flex-end;
    padding: 0 0.25rem;
    
    .side-buttons {
      color: $pink;
      font-size: 1.25rem;
      text-shadow: 0 0 0.3rem color.adjust($pink, $alpha: -0.5);

      &:hover {
        text-shadow: 0 0 0.1rem $pink, 0 0 0.4rem color.adjust($pink, $alpha: -0.25);
      }

      &:active {
        text-shadow: 0 0 0.1rem $pink;
      }
    }
  }
}

#controls {
  // Side Navbar
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $control-padding;
  width: $toolbar-width;
  height: calc(100vh - $navbar-height);
  pointer-events: all;

  .toggles,
  .tools {
    flex-direction: column;
    @include neon-group($blue);

    .option {
      width: calc($toolbar-width - 2 * $control-padding);
      margin: $control-padding;
      aspect-ratio: 1;
      @include neon-item($blue);
    }
  }
}

#controls .option.active,
#menu .item.active {
  // Active Tool
  background: color.adjust($bg-dark, $alpha: -0.65);
  border: 1px solid color.adjust($blue, $alpha: -0.5);
  border-radius: 2px;
  @include neon-item($blue);
}

.tooltip {
  // Tooltips
  display: inline-block;
  position: relative;
  text-align: center;
  @include tooltip-style($blue);

  &:hover::before {
    position: absolute;
    left: 150%;
    content: attr(data-tooltip);
    padding: 0.1rem 0.25rem;
    animation: fade 1.5s;
    white-space: nowrap;
  }
}
