@use 'sass:color';

/* Colours */
$blue: hsl(181deg 79% 54%);
$pink: hsl(325deg 79% 53%);
$orange: hsl(23deg 100% 54%);
$white: hsl(0deg 0% 100%);
$bg: hsl(261deg 57% 18%);
$bg-dark: hsl(261deg 89% 7%);

/* Sizing */
$navbar-height: 3rem;
$toolbar-width: 2.5rem;
$control-padding: 0.5rem;

/* Mixins */
@mixin neon-base($colour: $blue) {
  border: 1px solid $colour;
  color: $colour;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 0.1rem $white, 0 0 0.2rem $colour,
    0 0 0.3rem color.adjust($colour, $alpha: -0.5);
  transition: all 0.2s;
}

@mixin neon-text ($colour: $blue) {
  text-shadow: 0 0 0.3rem color.adjust($colour, $alpha: -0.5);

  &:hover {
    text-shadow: 0 0 0.1rem $colour, 0 0 0.4rem color.adjust($colour, $alpha: -0.25);
  }

  &:active {
    text-shadow: 0 0 0.1rem $colour;
  }
}

@mixin neon-group($colour: $blue) {
  @include neon-base($colour);

  background: color.adjust($bg, $alpha: -0.5);
  transition: all 0.2s;

  i,
  span {
    pointer-events: none;
  }
}

@mixin neon-item($colour: $blue) {
  @include neon-hover($colour);

  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  color: $colour;
  transition: all 0.2s;

  i,
  span {
    pointer-events: none;
  }
}

@mixin neon-hover($colour: $blue) {
  &:hover {
    border: 1px solid color.adjust($colour, $alpha: -0.2);
    background: color.adjust($bg-dark, $alpha: -0.6);
    box-shadow: 0 0 0.3rem $colour,
      0 0 0.5rem color.adjust($colour, $alpha: -0.85);
  }

  &:active {
    background: $bg-dark;
    box-shadow: none;
  }
}

@keyframes fade {
  // Workaround for transition interacting poorly with animation delay
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
