/* Sizing */
$navbar-height: 48px;
$toolbar-width: 80px;
$control-padding: 8px;

/* Mixins */

@mixin neon($colour) {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  backdrop-filter: blur(20px);
  border: 1px solid #{$colour};
  color: #{$colour};
  box-shadow: 0 0 0.1rem hsl(0deg 0% 100% / 59.3%),
    0 0 0.7rem #{$colour}, 0 0 0.3rem #{$colour};
  transition: all 0.5s;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 0.1rem hsl(0deg 0% 100%), 0 0 0.6rem hsl(#{$colour}),
      0 0 0.4rem hsl(#{$colour});
  }

  &:active {
    box-shadow: 0 0 0.1rem hsl(0deg 0% 100%);
  }

  i, span {
      pointer-events: none;
  }
}
