/* Colours */
$blue: hsl(181deg 79% 54%);
$pink: hsl(325deg 79% 53%);
$orange: hsl(23deg 100% 54%);
$white: hsl(0deg 0% 100%);

/* Sizing */
$navbar-height: 2.75rem;
$toolbar-width: 3.5rem;
$control-padding: 0.5rem;

/* Mixins */
@mixin neon($colour) {
  $transparent: transparentize($colour, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(268deg 39% 15% / 50%);
  backdrop-filter: blur(20px);
  border: 1px solid $colour;
  color: $colour;
  box-shadow: 0 0 0.1rem $white, 0 0 0.4rem $transparent, 0 0 0.2rem $colour;
  transition: all 0.5s;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 0.1rem $white, 0 0 0.6rem $transparent, 0 0 0.5rem $colour;
  }

  &:active {
    box-shadow: 0 0 0.1rem $white;
  }

  i,
  span {
    pointer-events: none;
  }

  i {
    font-size: 1.25rem;
  }
}
