@use 'sass:color';
@import '../helpers/variables';

body {
  font-family: 'Roboto Mono', monospace;
  background: $bg;
  overflow-y: hidden;
}

button {
  display: flex;
  align-items: center;
  background: none;
  border: 1px solid transparent;

  &:hover,
  &:active {
    cursor: pointer;
  }
}

input[type='range'],
input[type='range' i] {
  /* Difficult to style sliders
  * TODO: Fix upper area */
  appearance: none;
  outline: none;
  transform: rotate(270deg);
  margin-top: 4.6875rem;
  border: 1px solid $blue;
  color: transparent;
  box-shadow: 0 0 0.6rem color.adjust($blue, $alpha: -0.9), 0 0 0.1rem $blue;

  &::-webkit-slider-thumb {
    width: 0.5rem;
    height: 1rem;
    border: 0 solid transparent;
    appearance: none;
    background: $blue;

    &:hover,
    &:active {
      cursor: pointer;
    }
  }

  &::-webkit-slider-runnable-track {
    background: $bg;
    border: 1px solid color.adjust($blue, $alpha: -0.5);
  }

  &:focus::-webkit-slider-runnable-track {
    background: color.adjust($bg, $blackness: 5%);
  }
}

hr {
  width: calc($toolbar-width - 2 * $control-padding);
  justify-self: center;
  border: 1px solid transparent;
  background: $blue;
  box-shadow: 0 0 0.01rem $white, 0 0 0.05rem $blue, 0 0 0.15rem $blue;
  margin: 0.5rem 0;
}

#mobile-warning {
  /* The page for telling mobile users to fuck off */
  display: none;
  background: $bg;

  h1 {
    background: linear-gradient($blue, $pink);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
