@use 'sass:color';
@import '../helpers/variables';

body {
  font-family: 'Roboto Mono', monospace;
  background: $bg;
  color: $blue;
  overflow-y: hidden;
}

button {
  display: flex;
  align-items: center;
  background: transparent;
  border: 1px solid transparent;
  color: $blue;

  &:hover,
  &:active {
    cursor: pointer;
  }
}

p,
strong,
span,
label {
  max-width: 65ch;
}

/* Inputs */
input[type='number'] {
  max-width: 6ch;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
  }

  &::placeholder {
    color: color.adjust($blue, $alpha: -0.6);
  }
}

input[type='text'],
input[type='number'] {
  @include neon-item;

  padding-right: 0.25rem;

  &:focus,
  &:focus-visible {
    border: 1px solid color.adjust($blue, $alpha: -0.2);
    background: color.adjust($bg-dark, $alpha: -0.6);
    box-shadow: 0 0 0.3rem $blue, 0 0 0.5rem color.adjust($blue, $alpha: -0.85);
    outline: none;
  }
}

input[type='range'],
input[type='range' i] {
  /* Difficult to style sliders */
  appearance: none;
  outline: none;
  border: 1px solid $blue;
  color: transparent;
  box-shadow: 0 0 0.05rem $white, 0 0 0.1rem $blue,
    0 0 0.3rem color.adjust($blue, $alpha: -0.5);

  &::-webkit-slider-thumb {
    // NOTE: Width and height are reversed due to rotation
    width: 0.5rem;
    height: 0.75rem;
    border: 0 solid transparent;
    appearance: none;
    background: $blue;

    &:hover,
    &:active {
      cursor: pointer;
      background: color.adjust($blue, $lightness: 10%);
    }
  }

  &::-webkit-slider-runnable-track {
    background: $bg;
    border: 1px solid color.adjust($blue, $alpha: -0.5);
  }

  &:focus::-webkit-slider-runnable-track {
    background: color.adjust($bg, $blackness: 5%);
  }
}

input[type='color'] {
  background: transparent;
  border: 1px solid transparent;
  padding: $control-padding;

  &::-webkit-color-swatch {
    border: 1px solid $blue;
    box-shadow: 0 0 0.1rem $blue, 0 0 0.2rem color.adjust($blue, $alpha: -0.5);
  }
}

select {
  @include neon-item;

  appearance: none;
  padding-right: 0.25rem;

  &:focus,
  &:focus-visible {
    border: 1px solid color.adjust($blue, $alpha: -0.2);
    background: color.adjust($bg-dark, $alpha: -0.6);
    box-shadow: 0 0 0.3rem $blue, 0 0 0.5rem color.adjust($blue, $alpha: -0.85);
    outline: none;
  }

  option {
    background: color.adjust($bg-dark, $alpha: -0.6);
  }
}

/* The page for telling mobile users to fuck off */
#mobile-warning {
  display: none;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-content: center;
  background: $bg;

  h1 {
    background: linear-gradient(135deg, $orange, $pink);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
