@use 'sass:color';
@import '../helpers/variables';

#ui {
  // Nav Wrapper
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  pointer-events: none;
}

#menu {
  // Top Navbar
  display: flex;
  height: 3rem;
  margin: $control-padding;
  pointer-events: all;
  align-items: center;
  justify-items: start;
  justify-content: space-between;

  .left {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $control-padding;

    .item {
      @include neon-group;
      @include neon-hover;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: calc($navbar-height - 2 * $control-padding);
      padding: $control-padding;
      font-size: 0.9rem;

      span {
        display: flex;
        align-items: center;
        gap: 0 $control-padding;
      }
    }
  }

  .right {
    display: flex;
    justify-self: flex-end;
    padding: 0 0.15rem;

    .side-buttons {
      @include neon-text($pink);

      color: $pink;
      font-size: 1.25rem;
    }
  }
}

#controls {
  // Side Navbar
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $control-padding;
  width: $toolbar-width;
  height: calc(100vh - $navbar-height);
  pointer-events: all;
  gap: 1rem;

  .neon-group {
    @include neon-group;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .option {
      // Tool buttons for sculpt mode
      @include neon-item($blue);

      width: calc($toolbar-width - 2 * $control-padding);
      margin: $control-padding;
      aspect-ratio: 1;
      font-size: smaller;

      &.tooltip.active {
        // Active Tool
        background: $blue;
        color: $bg;
        border-radius: 3px;
        transition: all 0.2s;

        i,
        span {
          pointer-events: none;
        }

        &:hover {
          background: $blue;
          color: $bg;
        }
      }
    }
  }

  .paint-inputs {
    // Group for the buttons for painting
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $control-padding;

    .paint-colour {
      // Colour input
      height: $toolbar-width;
      width: $toolbar-width;
      aspect-ratio: 1;
    }

    .slider-group {
      // Wrapper for the sliders
      display: flex;
      flex-direction: column;
      gap: 4rem;

      .slider-vertical {
        transform: rotate(270deg);
        margin-top: 4rem;

        &::-webkit-slider-thumb {
          // Reverse rotation for image
          transform: rotate(-270deg);

          // Maintain square ratio for icon
          aspect-ratio: 1;
          width: 1rem;
          height: 1rem;

          // Remove default styling for thumb
          background: transparent;
          background-repeat: no-repeat;
        }

        &.tooltip::before {
          // Reverse positioning for tooltip due to translate
          top: 225%;
          left: unset;

          // FIXME: Have tooltips next to thumb
          // Reverse rotation for text
          transform: rotate(-270deg);
        }
      }

      /* Slider Icons */
      #blur {
        &::-webkit-slider-thumb {
          background-image: url('../../assets/slider/cloud-solid.svg');
        }
      }

      #scale {
        &::-webkit-slider-thumb {
          background-image: url('../../assets/slider/arrows-left-right-to-line-solid.svg');
        }
      }

      #opacity {
        &::-webkit-slider-thumb {
          background-image: url('../../assets/slider/eye-solid.svg');
        }
      }
    }
  }
}

#texture-panel {
  @include neon-group;

  display: flex;
  position: absolute;
  top: $navbar-height;
  right: 0;
  flex-flow: column wrap;
  gap: 0.5rem;
  height: auto;
  max-height: 90vh;
  margin: $control-padding;
  padding: $control-padding;
  pointer-events: all;
  list-style: none;

  &.empty {
    display: none;
  }

  li {
    display: flex;
    gap: 0.25rem;

    .texture-image {
      width: 4rem;
      height: 2rem;
      background-size: cover;
      background-repeat: no-repeat;
      transition: all 0.2s;
      border: 1px solid $blue;
      box-shadow: 0 0 0.3rem $blue,
        0 0 0.5rem color.adjust($blue, $alpha: -0.85);

      &:hover {
        box-shadow: 0 0 0.2rem $blue,
          0 0 0.4rem color.adjust($blue, $alpha: -0.85);
      }

      &:active {
        box-shadow: none;
      }
    }

    button {
      @include neon-text;

      font-size: smaller;
    }

    &.active {
      color: $pink;

      .texture-image {
        width: 4rem;
        height: 2rem;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 0.2s;
        border: 1px solid $pink;
        box-shadow: 0 0 0.3rem $pink,
          0 0 0.5rem color.adjust($pink, $alpha: -0.85);

        &:hover {
          box-shadow: 0 0 0.2rem $pink,
            0 0 0.4rem color.adjust($pink, $alpha: -0.85);
        }
      }

      button {
        @include neon-text($pink);

        color: $pink;
      }
    }
  }
}

.tooltip {
  // Tooltips
  display: inline-block;
  position: relative;
  text-align: center;

  &:hover::before {
    @include neon-base;

    position: absolute;
    left: 200%;
    content: attr(data-tooltip);
    padding: 0.1rem 0.25rem;
    font-size: 0.8rem;
    white-space: nowrap;
    animation: fade 1.5s;
  }
}
